:root {
    --primary: #3a5b61;
    --secondary: #262c30;
    --tertiary: #891b12 ;
    --background: #262c30;
}

.navbar-collapse{
    text-align:center;
}


.container {
    margin-top: 100px;
}

.col-md, .col-md-6 {
   text-align: left;
}

.row {
    margin-bottom: 20%;
}

.left-container {
    text-align: left;
    vertical-align: top;
    display: inline-block;
    margin:0;
    padding-left: 5%;
    border-left: 10px solid #262c30;
}
.right-container {
    width: 100%;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    margin: 12px 0 0 0;
    padding-left: 10%;
}

.navbar-toggler {
    margin-top: 10px;
}
#navbarNav {
    margin: 5px 0 0 0;
}

#navbar {
    color: var(--primary);
    border-bottom: 2px solid var(--primary);
    padding: 0px;
}

.nav-link {
    padding: 10px ! important;
    font-size: 20px;
    font-weight: bold;
    color: var(--primary);
}

.nav-link:hover {
    color: var(--primary);
}

body {
    background-color: var(--background);
    background: linear-gradient(55deg, #0f323740 0%, #0f323726 35%, rgb(216 222 223) 100%);
    color: var(--secondary);
}

a {
    color: var(--primary);
}

a:hover {
    color: var(--tertiary);
}

h2 a {
    text-decoration: none;
}

h2 a:hover {
    color: var(--primary);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 40px;
    color: var(--primary);
}

h2 {
    font-size: 50px;
    color: var(--primary);
}

h3 {
    font-size: 18px;
    color: var(--secondary);
}

h4 {
    font-size: 18px;
    color: var(--secondary);
}

p {
    font-size: var(--bs-body-font-size);
    color: var(--secondary);
}

#logo {
    font-size: 50px;
    color: var(--primary);
}

#container {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10%;
    margin-right: 10%;
}

#email-address {
    font-weight: bold;
}

.person-container {
    vertical-align: top;
    width: 40%;
    margin: 0;
    display: inline-block;
}

.rounded-img {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    margin-bottom: 10%;
}

#submit {
    color: white;
    background-color: var(--primary);
    border-color: var(--secondary);
}

.contact-form {
    margin: 0;
    text-align: left;
}



/* Mobile */

