:root {
    --primary: #3a5b61;
    --secondary: #262c30;
    --tertiary: #891b12 ;
    --background: #262c30;
}

div {
    text-align: center;
    margin-bottom: 20%;
    margin-top: 20%;
}


.left-container {
    text-align: left;
    vertical-align: top;
    display: inline-block;
    margin:0;
    padding-left: 1%;
    width: 35%;
    border-left: 10px solid #262c30;
}
.right-container {
    text-align: left;
    display: inline-block;
    vertical-align: top;
    margin:0;
    padding-left: 10%;
    width: 35%;
}

#navbarNav {
    margin: 0;
}

#navbar {
    color: var(--primary);
    border-bottom: 2px solid var(--primary);
}

.nav-link {
    padding: 10px ! important;
    font-size: 20px;
    font-weight: bold;
    color: var(--primary);
}

.nav-link:hover {
    color: var(--primary);
}

body {
    background-color: var(--background);
    background: linear-gradient(55deg, #0f323740 0%, #0f323726 35%, rgb(216 222 223) 100%);
    color: var(--secondary);
}

a {
    color: var(--primary);
}

a:hover {
    color: var(--tertiary);
}

h2 a {
    text-decoration: none;
}

h2 a:hover {
    color: var(--primary);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 40px;
    color: var(--primary);
}

h2 {
    font-size: 50px;
    color: var(--primary);
}

h3 {
    font-size: 18px;
    color: var(--secondary);
}

h4 {
    font-size: 18px;
    color: var(--secondary);
}

p {
    font-size: var(--bs-body-font-size);
    color: var(--secondary);
}

#logo {
    font-size: 50px;
    color: var(--primary);
}

#container {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10%;
    margin-right: 10%;
}

#email {
    font-size: 18px;
    color: var(--primary);
    font-weight: bold;
}

.name-container {
    text-align: left;
    vertical-align: top;
    margin: 0;
}